.debug {
  background-color: rgba(255, 0, 0, 0.2);
  border: 1px solid black;
  min-height: 30px;
}

.debug-2 {
  background-color: rgba(0, 0, 255, 0.2);
  border: 1px solid black;
  min-height: 30px;
}

img {
  width: 100%;
}

/* END UTILITIES */

/* start page layout */
header {
  height: 70px;
  background-color: rgb(235, 235, 235);
}

main {
  height: calc(100vh - 70px);
}
/* end page layout */

/* start header style */

picture img {
  height: 50px;
  object-fit: contain;
}

.mm-top-banner-bg {
  background-color: rgb(27, 114, 232);
}

/* end header style */

/* start aside style */

  #aside {
    background-color: rgb(5, 30, 52);
    background-image: url(../img/sidebar-bg.png);
    background-position: center;
    color: white;
    width: 70px;
    height: calc(100vh - 70px);
  }

  .main-content {
    width: 100%;
    height:  calc(100vh - 70px);
  }

  @media screen and (min-width:992px) {
  #aside {
    width: 150px;
  }
  }

  /* end aside style */

  /* start main style */

  .mm-pills-color {
    background-color:rgb(22, 91, 186) ;
  }

  .mm-icon-background {
    background-color:rgb(242, 101, 81) ;
  }


  /* end main style */

