.debug {
  background-color: rgba(255, 0, 0, 0.2);
  border: 1px solid black;
  min-height: 30px;
}

.debug-2 {
  background-color: rgba(0, 0, 255, 0.2);
  border: 1px solid black;
  min-height: 30px;
}

img {
  width: 100%;
}

/* END UTILITIES */

/* start page layout */
header {
  height: 70px;
  background-color: rgb(235, 235, 235);
}

main {
  height: calc(100vh - 70px);
}
/* end page layout */

/* start header style */

picture img {
  height: 50px;
  object-fit: contain;
}

/* end header style */

  #aside {
    background-color: rgb(5, 30, 52);
    color: white;
    width: 100px;
    height: calc(100vh - 70px);
  }

  .main-content {
    background-color: antiquewhite;
    width: 100%;
  }

  @media screen and (min-width:992px) {
  #aside {
    width: 200px;
  }
  }

